<div class="panel panel-default">
    <div class="panel-heading">
        Alertas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="alert alert-info">
            Nenhum alerta até o momento.
        </div>
        {#
        <div class="alert alert-info">
            Alerta info <a href="#" class="alert-link">Alert Link</a>.
        </div>
        <div class="alert alert-warning">
            Alerta warning <a href="#" class="alert-link">Alert Link</a>.
        </div>
        <div class="alert alert-danger">
            Alerta danger. <a href="#" class="alert-link">Alert Link</a>.
        </div>
        #}
    </div>
    <!-- .panel-body -->
</div>